@font-face {
    font-family: 'Cabin';
    font-weight: 400;
    src: url('../fonts/Cabin-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cabin';
    font-weight: 600;
    src: url('../fonts/Cabin-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cabin';
    font-weight: 700;
    src: url('../fonts/Cabin-Bold.ttf') format('truetype');
}